* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: white;
    padding: 0 1.5em;

}

.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0, 3px, 0, 3px;
}

.logo { 
    text-align: center;
    font-size: 2em;
    font-weight: normal;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);

}

.logo img {
    width: 25px;
    height: 25px;
}

.contenedor {
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.5);

}

.contenedor {
    padding: 1em;

}

.contenedor h3 {
    text-align: center;
    font-size: 2em;
    font-weight: normal;
    margin-top: 0;
    padding-top: 30px;
}

.contenedor-form {
    background-color: rgb(232, 232, 232);
}


.contenedor-form form .block {
    grid-column: 1/3;
}

.contenedor-form p {
    margin: 0;
    padding: 2em;
}

.contenedor-form form button,
.contenedor-form form input,
.contenedor-form form textarea {
    width: 100%;
    padding: 0.7em;
    border: none;
    background: none;
    outline: 0;
    border-bottom: 2px solid #ffc107;
    font-size: 1.1em;
}

.contenedor-form form button {
    background: #ffc107;
    border: 0px;
    font-size: 1.25em;
    padding: 0.6em;
    border-radius: 7px;
}

.contenedor-form form button:hover,
.contenedor-form form button:focus {
    background: #fecd37;
    outline: 0;
}

.contenedor-info {
    background: #212529;
    color: white;
}

.contenedor-info h4,
.contenedor-info ul,
.contenedor-info p {
    text-align: center;
    margin: 0 0 1rem 0;
    padding: 2em;
}

.contenedor-info ul {
    list-style: none;
    padding: 0;
}


.contenedor-info p {
    text-align: justify;
    padding: 2em;
    line-height: 30px;
    font-size: 20px;
    font-weight: normal;
}

.contenedor-info h4 {
    text-align: center;
    font-size: 2em;
    font-weight: normal;
    color: #ffc107;
    margin: 0;
}

.contenedor-info ul li {
    padding: 0.5em;
    text-align: left !important;
    padding-left: 3em !important;
}

li img {
    height: 20px;
    width: 20px;
    margin-right: 15px;
}

#js {

    text-align: center;
    font-size: 25px;
}

span {
    color: #ffc107;
}



@media (min-width: 700px) {
    body {
        padding: 0 4rem;
    }

    .content {
        padding: 1.5em;
    }

    .contenedor {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contenedor {
        padding: 1em;
    }

    .contenedor-info h4,
    .contenedor-info p {
        padding: 1em;
        text-align: left;
    }

    .contenedor-info h4 {
        text-align: center;
        font-size: 2em;
        font-weight: normal;
        color: #ffc107;
        padding-top: 80px;
    }

    .contenedor-info p {
        text-align: justify;
        padding: 2em;
        line-height: 30px;
        font-size: 20px;
        font-weight: normal;
    }

    li img {
        height: 20px;
        width: 20px;
        margin-right: 15px;
    }

    #js {

        text-align: center;
        font-size: 25px;
    }

    span {
        color: #ffc107;
    }
}